.dish-slider{
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 8px 4px 12px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.dish-card{
  flex: 0 0 260px;          /* larghezza card */
  scroll-snap-align: start;
}

.dish-slider::-webkit-scrollbar{
  height: 8px;
}
