.header-immagine {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/tovaglia3.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.shadow-text {
    
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}